@use 'base/variables' as var;
@use 'base/mixins' as mxs;

.account-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  a {
    @include mxs.link(var.$azul);
  }

  p {
      font-size: var.$large;
      color: var.$white;
  }
}
