// Fonts
$font_main: 'Philosopher', sans-serif;

// Sise for Media Queries
$cellphone: 480px;
$tablet: 768px;
$desktop: 1024px;

// colors
$azul: #8083FF;
$rojo: #cb0000;
$verde:#D3FBD8;
$oxford_blue: #181818;
$white: #FAF7FF;

$gris: #e1e1e1;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

// Size fonts

$small: 1.4rem;
$regular: 1.6rem;
$large: 1.8rem;
$x-large: 2.2rem;